.download_install:hover{
    text-decoration:none;
}
.download_install{
    font:14px sans-serif;
    border:1px solid #fff;
    line-height:22px;
    color:#06F!important;
    width:194px;
    height:22px;
    display:inline-block;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
    outline:none;
}